#stage #stage-wrapper #main #streams {
  overflow-y: scroll;
  height: 100%;
  color: #545761;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  word-wrap: break-word;
  font-size: 1em; }
  #stage #stage-wrapper #main #streams .description {
    -webkit-box-flex: 1;
    padding: 0 1em 0 1em; }
    #stage #stage-wrapper #main #streams .description h3 {
      margin-top: 0;
      font-size: 1em; }
  #stage #stage-wrapper #main #streams a {
    text-decoration: none;
    color: #576b95; }
  #stage #stage-wrapper #main #streams .link_container {
    background-color: #f3f4f7;
    border: 1px solid #c5cadd;
    display: -webkit-box;
    padding: 1em; }
    #stage #stage-wrapper #main #streams .link_container img {
      max-width: 150px;
      display: block; }
  #stage #stage-wrapper #main #streams .video_container {
    background-color: #f3f4f7;
    border: 1px solid #c5cadd;
    display: -webkit-box;
    padding: 1em; }
    #stage #stage-wrapper #main #streams .video_container img {
      max-width: 150px;
      display: block; }
  #stage #stage-wrapper #main #streams .content > div img.pic {
    display: block;
    max-width: 150px; }
  #stage #stage-wrapper #main #streams .box {
    background-color: #eff2f5;
    height: 30px;
    margin-top: 20px;
    padding: 5px 0 0 20px;
    color: #9b9b9b;
    border-top: 1px solid #c5cadd;
    font-weight: normal;
    font-size: 0.7em; }
  #stage #stage-wrapper #main #streams div.listcontainer > div {
    margin: 10px 10px;
    background: white;
    border-width: 1px 1px 2.5px;
    border-style: solid;
    border-color: rgba(40, 70, 129, 0.43);
    overflow: hidden; }
  #stage #stage-wrapper #main #streams .content {
    width: 100%;
    color: black; }
    #stage #stage-wrapper #main #streams .content #vid p {
      padding-left: 1em; }
    #stage #stage-wrapper #main #streams .content #pic p {
      padding-left: 1em; }
  #stage #stage-wrapper #main #streams .status {
    padding: 0 1em;
    width: 100%;
    color: black;
    line-height: 1.5;
    display: -webkit-box;
    word-wrap: break-word; }
  #stage #stage-wrapper #main #streams .title {
    padding: 1em; }
    #stage #stage-wrapper #main #streams .title h4 {
      margin: -55px 0 0 65px;
      font-weight: normal;
      font-size: 1em;
      line-height: 1.5; }
      #stage #stage-wrapper #main #streams .title h4 div {
        color: #9b9b9b;
        font-size: 0.9em; }
  #stage #stage-wrapper #main #streams .pic_container img {
    max-width: 100%; }
