#stage #stage-wrapper #main #streams {
  overflow-y: scroll;
  height: 100%;
  color: #545761;
  font-size: 1em;
  width: 100%;
  overflow-x: hidden; }
  #stage #stage-wrapper #main #streams > div {
    position: relative;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    height: 100%;
    width: 100%;
    overflow: auto; }
    #stage #stage-wrapper #main #streams > div .listcontainer, #stage #stage-wrapper #main #streams > div .paging {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0); }
  #stage #stage-wrapper #main #streams .description {
    padding: 1em 0 0 0; }
    #stage #stage-wrapper #main #streams .description h3 {
      margin-top: 0;
      font-size: 1em; }
  #stage #stage-wrapper #main #streams a {
    text-decoration: none;
    color: #576b95; }
  #stage #stage-wrapper #main #streams .link_container, #stage #stage-wrapper #main #streams .video_container {
    background-color: #edeff4;
    border-top: 1px solid #c5cadd;
    border-bottom: 1px solid #c5cadd;
    display: block;
    padding: 1em; }
    #stage #stage-wrapper #main #streams .link_container img.pic, #stage #stage-wrapper #main #streams .video_container img.pic {
      width: 100%;
      display: block; }
  #stage #stage-wrapper #main #streams .box {
    background-color: #eff2f5;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    padding-left: 1em;
    color: #576b95;
    border-top: 1px solid #c5cadd;
    font-weight: normal;
    font-size: 0.8em; }
  #stage #stage-wrapper #main #streams div.listcontainer > div {
    margin: 10px 10px;
    background: white;
    border: 1px solid #c4cde0;
    -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden; }
  #stage #stage-wrapper #main #streams .content {
    width: 100%;
    color: black; }
    #stage #stage-wrapper #main #streams .content #vid p, #stage #stage-wrapper #main #streams .content #pic p {
      padding-left: 1em; }
  #stage #stage-wrapper #main #streams .status {
    padding: 0 1em;
    width: 100%;
    color: black;
    line-height: 1.5;
    display: -webkit-box;
    word-wrap: break-word; }
  #stage #stage-wrapper #main #streams .title {
    padding: 1em; }
    #stage #stage-wrapper #main #streams .title img {
      height: 50px; }
    #stage #stage-wrapper #main #streams .title h4 {
      margin: -55px 0 0 65px;
      font-weight: normal;
      font-size: 1em;
      line-height: 1.5; }
      #stage #stage-wrapper #main #streams .title h4 div {
        color: #9b9b9b;
        font-size: 0.9em; }
  #stage #stage-wrapper #main #streams .pic_container img {
    max-width: 100%; }
  #stage #stage-wrapper #main #streams .more-link {
    background-color: transparent;
    border: none; }
  #stage #stage-wrapper #main #streams .paging {
    background-color: white;
    height: 40px;
    margin: 1em;
    border: 1px solid #c4cde0;
    -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    text-transform: capitalize;
    line-height: 40px;
    font-family: "Josefin Sans"; }
    #stage #stage-wrapper #main #streams .paging a {
      color: #576b95;
      font-weight: bold;
      font-size: 1.2em; }
