
/*= require_tree . */

@media (min-width: 700px)  { 
  body.showSidebar #stage #stage-wrapper {
    padding: 0 0 0 200px;
  }

  body.showSidebar #stage #stage-wrapper #sidebar{
    left: 00px;
    width: 200px;
  }
}

@media (max-width: 700px)  { 
  body.showSidebar #stage #stage-wrapper {
    -webkit-transform:translateX(70%);
  }

  #stage #stage-wrapper #sidebar{
    left: -70% !important;
    width: 70%;
  }
}

.clear{
  clear:both;
}
#stage #stage-wrapper {}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none; }

html, body{
  height: 100%; 
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c4cde0; 
  font-weight: normal;
  overflow: hidden; 
  font-size: 80%
  }

#stage {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
  overflow: hidden;
}
body.android #stage #stage-wrapper {
  -webkit-transition: none;
}

#stage #stage-wrapper {
  height: 100%;
  width: 100%; 
  padding: 0;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0); }

#stage #stage-wrapper #main {
  height: 100%;
  width: 100%;
  padding: 3em 0 0 0; }

#stage #stage-wrapper #sidebar {
  background: rgb(49, 55, 68);
  border-top: 1px solid #5f6673;
  left: -100%;
  position: absolute;
  height: 100%;
  width: 70%;
  float: left;
  border-right: 1px solid #5f6673; 
  overflow-y:hidden;
  font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif; 
}

#stage #stage-wrapper #sidebar > div{
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#stage #stage-wrapper #sidebar ul {
  list-style-type: disc;
  display: block; 
  width: 100%;
  color: #c4ccd9;
  margin: 0;
  padding: 0;
}
#stage #stage-wrapper #sidebar .user-name img{
  height: 2em;
}

#stage #stage-wrapper #sidebar ul li {
  margin: 0;
  padding: 0 0 0 6em;
  position: relative;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: #c4ccda;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0.5em;
  background-size: 4.4em;
  background-repeat: no-repeat;
  border-bottom: 1px solid #242a36;
  text-shadow: 0 1px 0 rgba(0 0 0 0.6);
  background-position: 1em center;
  box-shadow: inset 0 1px 2px -1px rgba(0,0,0,0.5),0 1px 2px -1px rgba(255,255,255,0.4);

}
#stage #stage-wrapper #sidebar .search{
  padding: 0.7em;
}

#stage #stage-wrapper #sidebar .search input{
  border: 1px solid #222936;
  height: 35px;
  width: 100%;
  border-radius: 15px;
  box-shadow: inset 0 1px 2px -1px rgba(0,0,0,0.5),0 1px 2px -1px rgba(255,255,255,0.4);
  background: -webkit-linear-gradient(#414a5a, #4c5464);
  -webkit-box-shadow: inset 0 1px 2px -1px rgba(0,0,0,0.5),0 1px 2px -1px rgba(255,255,255,0.4);
  color: #b3b3b3;
  padding-left: 20px;
  padding-bottom: 2px;
  outline: none;
  font-size: 16px;
}

#stage #stage-wrapper #sidebar .news-feeds {
  background-image: url(http://fb.html5isready.com/images/menu-newsfeed.png);

}

#stage #stage-wrapper #sidebar .messages {
  background-image: url(http://fb.html5isready.com/images/menu-messages.png);
}

#stage #stage-wrapper #sidebar .events {
  background-image: url(http://fb.html5isready.com/images/menu-events.png);
}

#stage #stage-wrapper #sidebar .friends {
  background-image: url(http://fb.html5isready.com/images/menu-friends.png);
}

#stage #stage-wrapper #sidebar .logout{
  background-image: url(http://fb.html5isready.com/images/menu-logout.png);
}

#stage #stage-wrapper #sidebar a {
  text-decoration: none;
  display: inline-block;
  font-size: 18px; 
  line-height: 2.5em;
  height: 2.5em;
  color: rgb(167, 175, 189);
}

#stage #stage-wrapper #sidebar a span {
  padding-left: 45px;
  height: 2.5em;
  line-height: 2.5em;
}             
        
@media (min-width: 700px) {
  #stage #stage-wrapper #sidebar {
  width: 200px;
  }
}
