#login_session
  height: 100%
  width: 100%
  overflow: hidden
  background: -webkit-gradient(linear, center top, center bottom, from(#738aba), to(#2c4987))
  -webkit-box-shadow: inset 0 1px 1px -1px #fff
  #main p
  text-align: center
  #user_name
    height: 4em
    width: 20em
    padding: 0 0.5em
  #user_password
    height: 4em
    width: 20em
    padding: 0 0.5em
  button
    height: 4em
    width: 20em
    padding: 0 0.5em


