.header
  position: relative
  #coverphoto
    width: 100%
    height: 250px
    background-repeat: no-repeat
    background-size: 100% auto
  #dp 
    img
      position: absolute
      width: 95px
      height: 95px
      border: 3.5px solid white
      bottom: -50px
      left: 15px
      display: block
.info
  background-color: white
  font-family: Helvetica, sans-serif
  padding-bottom: 20px
  #name
    padding: 20px 0 20px 120px
    font-weight: bold
    color: rgb(56, 58, 66)
    font-size: 20px
  #about
    font-weight: bold
    line-height: 0.9
    font-size: 12px
    padding-left: 35px
    white-space: nowrap
    span
      color: rgb(47, 67, 133)




