#stage #stage-wrapper #main #streams
  overflow-y: scroll
  height: 100%
  color: rgb(84, 87, 97)
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif
  word-wrap: break-word
  font-size: 1em
  width: 100%
  overflow-x: hidden
  > div
    -webkit-overflow-scrolling: touch
    -webkit-backface-visibility: hidden
    height: 100%
    width: 100%
    overflow: auto
    .listcontainer, .paging
      position: relative
      -webkit-transform: translate3d(0,0,0)
  .description
    -webkit-box-flex: 1
    padding: 0 1em 0 1em
    h3
      margin-top: 0
      font-size: 1em
  a
    text-decoration: none
    color: #576b95
  .link_container, .video_container
    background-color: #f3f4f7
    border: 1px solid rgb(197, 202, 221)
    display: -webkit-box
    padding: 1em
    img.pic
      max-width: 100px
      display: block
  .box
    background-color: #eff2f5
    height: 30px
    margin-top: 20px
    padding: 9px 0 0 20px
    color: #9b9b9b
    border-top: 1px solid rgb(197, 202, 221)
    font-weight: normal
    font-size: .8em
  div.listcontainer > div
    margin: 10px 10px
    background: white
    border-width: 1px 1px 2.5px
    border-style: solid
    border-color: rgba(40, 70, 129, 0.43)
    overflow: hidden
  .content 
    width: 100%
    color: black
    #vid p, #pic p
      padding-left: 1em
  .status
    padding: 0 1em
    width: 100%
    color: black
    line-height: 1.5
    display: -webkit-box
    word-wrap: break-word
  .title
    padding: 1em
    h4
      margin: -55px 0 0 65px
      font-weight: normal
      font-size: 1em
      line-height: 1.5
      div
        color: #9b9b9b
        font-size: .9em
  .pic_container img
    max-width: 100%
  .more-link
    background-color: transparent
    border: none
  .paging
    -webkit-box-shadow: inset 0 1px 1px -1px #fff
    font-size: 1.3em
    -webkit-box-align: center
    text-align: center
    border: 2px outset buttonface
    padding: 1em 0
    background-color: rgb(233, 233, 233)
    margin: 0 auto
    width: 100%
    a
      color: black