#stage #stage-wrapper #main #streams
  overflow-y: scroll
  height: 100%
  color: rgb(84, 87, 97)
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif
  word-wrap: break-word
  .description
    -webkit-box-flex: 1
    padding: 0 1em 0 1em
    h3
      margin-top: 0
  a
    text-decoration: none
    color: rgb(50, 75, 139)
    padding: 10px 0
  .link
    background-color: #f3f4f7
    border: 1px solid rgb(197, 202, 221)
    display: -webkit-box
    padding: 1em
    img
      max-width: 150px
      display: block
  .video
    background-color: #f3f4f7
    border: 1px solid rgb(197, 202, 221)
    display: -webkit-box
    padding: 1em
    img
      max-width: 150px
      display: block
  .content > div img.pic
    display: block
    max-width: 150px
  .box
    background-color: #eff2f5
    height: 30px
    margin-top: 20px
    padding: 5px 0 0 20px
    color: #9b9b9b
    border-top: 1px solid rgb(197, 202, 221)
    font-weight: normal
    font-size: .9em
  div.listcontainer > div
    margin: 10px 10px
    background: white
    border-width: 1px 1px 2.5px
    border-style: solid
    border-color: rgba(40, 70, 129, 0.43)
    overflow: hidden
  .content
    width: 100%
    color: black
    font-size: 14px
  .status
    padding: 0 1em
    width: 100%
    color: black
    line-height: 1.5
    display: -webkit-box
    word-wrap: break-word
  .pic_container
    text-align: center
  .title
    padding: 1em
    h4
      margin: -60px 0 0 65px
      font-weight: normal
      padding-top: 5px
      line-height: 1.5
      div
        color: #9b9b9b
        font-size: 14px
  .link h4
    color: #3e4350
    padding: 0px 8px 8px 12px
    line-height: 2.5
    font-size: 12px
  .pic_container img
    margin: 5px 0
    max-width: 100%